<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huang.yong.chang.mapper.IntegralRecordMapper">
    <select id="findPageByUserId" resultType="huang.yong.chang.entity.IntegralRecord" parameterType="huang.yong.chang.entity.request.IntegralRecordPageRequest">
        select * from tb_integral_record where user_id = #{userId}
        <if test="orderBy!=null and orderBy !=''">
            ORDER BY ${orderBy}
        </if>
        limit #{page},#{pageSize}
    </select>
</mapper>
