<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huang.yong.chang.mapper.UserMapper">
    <select id="findPage" resultType="huang.yong.chang.entity.User" parameterType="huang.yong.chang.entity.request.UserPageRequest">
        select * from tb_user where 1=1
        <if test="alipayAccount != null and alipayAccount !=''">
            and alipay_account like  CONCAT('%',#{alipayAccount},'%')
        </if>
        <if test="alipayName != null and alipayName !=''">
            and alipay_name like  CONCAT('%',#{alipayName},'%')
        </if>
        <if test="username != null and username !=''">
            and username like  CONCAT('%',#{username},'%')
        </if>
        <if test="orderBy!=null and orderBy !=''">
            ORDER BY ${orderBy}
        </if>
        limit #{page},#{pageSize}
    </select>

    <insert id="saveDeleteUser" parameterType="huang.yong.chang.entity.DeleteUser">
      insert  into tb_delete_user values (#{deleteUser.id},#{deleteUser.parentId},#{deleteUser.username},#{deleteUser.alipayAccount},#{deleteUser.alipayName},#{deleteUser.deleteDate})
    </insert>
</mapper>
