server:
  port: 8080
spring:
  mvc:
    static-path-pattern: /**
  application:
    name: distribution-system
#  datasource:
#    druid:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/ten?characterEncoding=utf-8&serverTimezone=Asia/Shanghai
#    username: root
#    password: 1234

  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://156.233.65.171:3306/distribution_system?characterEncoding=utf-8&serverTimezone=Asia/Shanghai
      username: root
      password: abcabc
  redis:
    host: localhost
    port: 6379

mybatis-plus:
  mapper-locations: classpath*:huang/yong/chang/mapper/mapping/*.xml
#springfox:
#  documentation:
#    swagger:
#      v2:
#        path: /api-docs
authority:
  url: /user/delete,/user/update,/role/**,/user/findPage,/swagger*
  nologinUrl: /user/checkUser,/user/chagePwdNoLogin